<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'question/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'question/home.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'question/home.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="https://www.codechef.com/">Codechef</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                            <a class="nav-link" href="http://127.0.0.1:8000/question/">Home <span class="sr-only">(current)</span></a>
                      </li>
                       <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}">login<span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">logout<span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item active">
                            <a class="nav-link" href="{% url 'signup' %}">Signup<span class="sr-only">(current)</span></a>
                       </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="http://127.0.0.1:8000/user/{{user.id}}">{{user.username}}<span class="sr-only">(current)</span></a>
                      </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
          </div>
    </nav>
    <div class="jumbotron" id="jumbo">
            <div class="container" id="recent-ques">
                    <h1 class="display-3">Recent Questions</h1>
            </div>
    </div>

    <div class="container" id="ques">
        <div class="row">
            <a href='http://127.0.0.1:8000/question/add/' style = "text-decoration:none; font-size:20px;">Have Question? Ask them!</a>
        </div>
    </div>

    <div><br></br></div>

    <footer class="container">
        <p>© Arnav Mandal 2017-2018</p>
    </footer>

</body>
</html>